In [1]:
import numpy as np
import pandas as pd
import random
import os

In [2]:
file_path = os.path.join("..","data", "movies.csv")

In [3]:
print(file_path)

..\data\movies.csv

In [4]:
movies = pd.read_csv(file_path)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
#Drop Null values
new_movies = movies.dropna()

In [8]:
user_genre = input('Enter a movie genre: ')
# Find movies that match the user's genre
matching_movies = new_movies[new_movies['genres'].str.contains(user_genre, case=False)]

# Print the matching movies
if len(matching_movies) > 0:
    print(f'The following movies match the genre {user_genre}:')
    print(matching_movies['title'])
else:
    print(f'Sorry, no movies match the genre {user_genre}.')
    new_movies['genres'] = new_movies['genres'].astype(str)

The following movies match the genre Adventure:
0                            Toy Story (1995)
1                              Jumanji (1995)
7                         Tom and Huck (1995)
9                            GoldenEye (1995)
12                               Balto (1995)
                        ...
9710           Solo: A Star Wars Story (2018)
9713              Ant-Man and the Wasp (2018)
9717    The Man Who Killed Don Quixote (2018)
9720     Mission: Impossible - Fallout (2018)
9731                           Gintama (2017)
Name: title, Length: 1263, dtype: object